.register {
    height: 100vh;
    background-color: rgba(74, 135, 83, 0.7);
    justify-content: center;
    align-items: center;
    display: flex;


    .card {
        width: 50%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        // flex-direction: row-reverse;
        min-height: 400px;
        overflow: hidden;
.left {
        flex: 1;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        h1 {
            color: #555;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        input {
            padding: 8px 4px;
            border: none;
            border-bottom: 1px solid #555;

        }

        button {
            width: 60%;
            padding: 5px 15px;
            border: none;
            color: white;
            background-color: rgba(81, 225, 81);

        }
    }

        .right {
            flex: 1;
            padding: 30px;
            background: linear-gradient(rgba(55, 185, 79, 0.5), rgba(49, 201, 76, 0.5)), url("https: //images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: white;

            h1 {
                font-size: 40px;
            }

            p {

                line-height: 1.1;
            }

            span {
                font-weight: 500;
            }

            button {
            
                width: 60%;
                padding: 8px;
                border: none;
                color: rgb(56, 172, 56);

                font-weight: bold;
                cursor: pointer;
            }
        }

        
    }
}