@import '../../layout/layout.scss';

.home {
    padding: 10px 30px;
    background-color: #f6f3f3;

    @include mobile {
            padding: 5px;
        }

        .stories {
            position: sticky;
                top: 60px;
                background-color: white;
                z-index: 1200;
                border-radius: 10px;
        }
        
   
}