.editProfile {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: white;
  padding: 20px;
  z-index: 1000;

  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;

  #closeBtn {
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgb(248, 82, 82);
    border: none;
   cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80%;
    font-size: 14px;
    // background-color: rgb(0, 68, 255);

    .top {
      width: 100%;
      display: flex;
        gap: 20px;
      flex: 3;
      padding: 10px;

      .left {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
       
        input {
          display: none;
        }

        .cover-wrapper, .profile-wrapper {
            display: flex;
            gap: 20px;
            align-items: center;
            .cover-img {
                    display: flex;
                    justify-content: center;
                    flex: 2;
            
                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 100%;
                    }
                }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }

          span {
            font-size: 12px;
          }
        }
      }

      .right {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;

        label {
          display: inline;
        }
        input {
          width: 50%;
          
        }
      }
    }
    .bottom {
      flex: 1;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
       
            align-items: center;
            padding: 6px 8px;
            background-color: #5271ff;
            border-radius: 3px;
            color: white;
            outline: none;
            border: none;
            cursor: pointer;
      }
    }
  }
}
