// $themes: (
//     light: (
//         textColor: #000,
//         bg: white,
//         logo: rgb(0, 139, 39),
//         bgSoft: #f6f3f3,
//         textColorSoft: #555,
//         border: lightgray,
//     ),
//     dark: (
//         textColor: whitesmoke,
//         bg: #222,
//         logo: white,
//         bgSoft: #333,
//         textColorSoft: lightgray,
//         border: #444,
//     ),
// );


$dk-textColor: whitesmoke;
$dk-bg: #222;
$dk-logo: white;
$dk-bgSoft: #333;
$dk-textColorSoft: lightgray;
$dk-border: #444;

.theme-dark {
  .navbar {
    background-color: $dk-bg;
    color: $dk-textColor;
    border-bottom: 1px solid $dk-border;

    .left {
      span {
        color: $dk-logo;
      }
      .search {
        border: 1px solid $dk-border;
        input {
          background-color: transparent;
          color: $dk-textColor;
        }
      }
    }
  }

  .leftBar {
    background-color: $dk-bg;
    color: $dk-textColor;

    .container {
      hr {
        background-color: $dk-border;
      }
    }
  }

  .rightBar {
    background-color: $dk-bgSoft;

    .container {
      .item {
        background-color: $dk-bg;
        color: $dk-textColor;

        span {
          color: $dk-textColorSoft;
        }

        .user {
          .userInfo {
            p {
              color: $dk-textColorSoft;
            }

            span {
              color: $dk-textColor;
            }
          }
        }
      }
    }
  }

  .home {
    padding: 10px 30px;
    background-color: $dk-bgSoft;
  }

  .post {
    background-color: $dk-bg;
    color: $dk-textColor;

    .container {
      .user {
        .userInfo {
          .profileImg {
            span {
              color: $dk-textColor;
            }
          }

          span {
            color: $dk-textColorSoft;
          }
        }
      }
    }
  }

  .comments {
    input {
      color: $dk-textColor;
   
     
    }
  }

        .profile {
          
          background-color: $dk-bgSoft;

          .info {
              -webkit-box-shadow: 0px 0px 15px 1px rgba(174, 153, 153, 0.09);
              -moz-box-shadow: 0px 0px 15px 1px rgba(211, 195, 195, 0.09);
              box-shadow: 0px 0px 15px 1px rgba(234, 215, 215, 0.09);

              background-color: $dk-bgSoft;

              span {
                color: $dk-textColor;
              }
                     
              .address {
                span {
                  font-size: 12px;
                  color: $dk-textColorSoft;
                }
              }
          
              button {
                border: none;
                color: white;
                border-radius: 3px;
                padding: 4px 8px;
                font-weight: 500;
                background-color: #5271ff;
              }
            }
        }
}


//responsive


@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 820px) {
    @content;
  }
}