@import "../../layout/layout.scss";

.rightBar {
  flex: 3;
  background-color: #f6f3f3;

  // sticky position
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  overflow: scroll;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    font-size: 12px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      background-color: white;
      padding: 20px;

      span {
        color: gray;
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .userInfo {
          display: flex;
          align-items: center;
          gap: 5px;

          //set online position
          position: relative;

          img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
          }

          .online {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: green;

            //set position
            position: absolute;
            top: 0;
            left: 15px;
          }

          p {
            color: gray;
            font-size: 10px;
          }

          span {
            color: black;
            font-size: 12px;
          }
        }

        span {
          font-size: 10px;
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: 5px;

          button {
            border: none;
            color: white;
            padding: 4px;
            cursor: pointer;
            font-size: 12px;
            font-weight: 500;
            border-radius: 5px;

            &:first-child {
              background-color: #5271ff;
            }

            &:last-child {
              background-color: rgb(248, 82, 82);
            }
          }
        }
      }
    } 

  }
}
